.myButton {
    text-transform: uppercase;
    color: white;
    background-color: #c45623;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 5px 5px 15px 0px rgba(200, 200, 200, 1);
    cursor: pointer;
}