body {
    text-align: center;
}

#root {
    height: 100vh;
}

h1 {
    font-size: 3.8rem;
    margin: 0px 0 15px 0;
    word-break: break-all;
}

a {
    text-decoration: none;
}

.hide {
    @media (min-width: 600px) {
        display: none;
    }
}

// .mainWrapper {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     height: 100vh;
// }

.mainBox {
    margin: 0 auto;
    width: 70vw;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(200, 200, 200, 1);
    padding: 4vh 0 4vh 0;

    @media (max-width: 601px) {
        display: contents;
    }

    @media (min-width: 1000px) {
        width: 57vw;
    }

    @media (min-width: 1500px) {
        width: 47vw;
    }

    @media (min-width: 2000px) {
        width: 40vw;
    }
}